@font-face {
    font-family: "caslon540";
    src: url("../fonts/caslon540.ttf");
}

@font-face {
    font-family: "AvenirNextLTPro-CN";
    src: url("../fonts/AvenirNextLTPro-CN.otf");
}

@font-face {
    font-family: "AvenirNextLTPro-MediumCN";
    src: url("../fonts/AvenirNextLTPro-MediumCN.otf");
}

@font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("../fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
    font-family: "utopiastd-dispit";
    src: url("../fonts/utopiastd-dispit.otf");
}
@font-face {
    font-family: "utopiastd-disp";
    src: url("../fonts/utopiastd-disp.otf");
}

body,
input,
select,
textarea {
    font-family: 'AvenirNextLTPro-Regular'
}

#brand-name {
    font-family: "caslon540";
}
#form-step-title {
    font-family: AvenirNextLTPro-Regular !important;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

#form-container {
    width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-top: 100px;
    background: rgb(230, 230, 230);
    overflow: auto;
}

.title {
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: rgb(30, 30, 30);
    font-family: utopiastd-disp !important;
}

.subtitle {
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
    color: rgb(10, 10, 10);
}

.input-container {
    /*width : calc(100% - 60px);*/
    padding: 10px 30px;
}

.form-label {
    font-size: 13px;
    font-weight: bold;
    text-align: left;
}

.form-textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 0px;
    border: 1px solid rgb(190, 190, 190);
    height: 40px;
    color: rgba(90, 90, 90, 1);
    background: white;
    resize: none;
    height: 200px;
}

.form-input {
    width: 100%;
    border: 0px;
    background: transparent;
    border-bottom: 1px solid rgb(190, 190, 190);
    height: 40px;
    color: rgb(90, 90, 90);
}

.form-input:focus {
    color: rgb(30, 30, 30);
    border-bottom: 1px solid rgb(30, 30, 30);
}

.form-button {
    border: 1px solid rgba(30, 30, 30, 0.42);
    padding: 25px 5px;
    width: calc(50% - 20px);
    background: white;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 2px grey solid;
    box-shadow: 1px 1px 1px 1px #8080807a;
    border-radius: 3px;
}

.dark {
    background: rgb(30, 30, 30);
    color: white;
    float: right;
}

.form-sub-container {}

.right {
    float: right;
}

.selectable {
    opacity: 0.9;
}

.mini-content-container {
    width: calc(50% - 40px);
    padding: 10px;
    border: 1px solid rgb(130, 130, 130);
    background: white;
    display: inline-block;
    cursor: pointer;
}

.mcc-title {
    font-size: 18px;
    margin: 0px;
    border-bottom: 1px solid rgb(130, 130, 130);
    color: rgb(130, 130, 130);
    padding-bottom: 5px;
}

.left-align {
    text-align: justify;
}

.fixed-container {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.18);
    width: 100%;
    height: 100%;
}

.fixed-sub-container {
    background: #f8f8f8;

    width: 35%;
    min-height: 100px;
    margin-top: 5%;
    max-height: 70%;
    overflow: auto;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.fsc-title {
    float: left;
    width: 100%;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 20px 0px;
    color: black;
    font-size: x-large;
    font-weight: 500;
    font-family: initial;
}

.fsc-content {
    display: block;
    padding: 2% 5%;
}

.checkbox-container {
    padding: 10px 10px;
    width: 70%;
    border: 1px solid rgb(190, 190, 190);
    margin: 5px 0px;
    background: white;
    margin-bottom: 5%;


}
}

.item-container {
    padding: 0px 10px;
    padding-top: 10px;
    width: 250px;
    border: 1px solid rgb(190, 190, 190);
    margin: 5px 0px;
    background: white;
    cursor: pointer;
}

.half {
    width: 45%;
}

.inline-block {
    display: inline-block;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fix-im {
    position: relative;
    bottom: 11rem;
}

@media screen and (max-width:768px) {
    .flex-100 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .fix-im {
        bottom: 0rem;
    }
}

.ugali {
    background: black;
    padding: 6px;
}

.fsc-content .table tbody tr td {
    padding: 4%;
}

.table td {
    background-color: #fff;
}

.fsc-content a {
    color: grey !important;
    cursor: default;
}

.descp {
    color: grey;
    width: 80%;
    margin: 5%;
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}

.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.pop-content {
    width: 20%;
    border: 1px #f3f2f2 solid;
    position: absolute;
    background-color: white;
}

.pop-content hr {
    margin: 0px !important;
}

.head .col-md-6 span {
    padding: 2%;
}

.head {
    padding: 5%
}

.head .spc {
    padding: 2%;
}

.form-button:hover {
    text-decoration: underline;
}

.err {
    color: red;
}

.close {
    padding: 0px 2%;
}

.light {
    background-color: white !important;
    color: black !important;
    width: 40% !important;
    margin: 2% 2% 7% 2%;
    border-radius: 0;
    padding: 3% !important;
}